git+https://github.com/youesky/pyrogram
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==3.1.6
schedule
APscheduler
# --- For-Database ------------ #
pymongo
python-dotenv
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
